# Activity 11

In [1]:
import sqlite3

### Connect to petsDB and check whether the connection has been successful.

In [2]:
# connect to the sqlite database
conn = sqlite3.connect("petsdb.db")

In [3]:
# Function to check if connection is open
def chk_conn(conn):
     try:
        conn.cursor()
        return True
     except Exception as ex:
        return False

In [4]:
is_connected = chk_conn(conn)
print(f"Connected: {is_connected}")

Connected: True

In [5]:
# checking if connection status returns false if closed
conn.close()
print(f"Connected: {chk_conn(conn)}")

Connected: False

### Find the different age groups in the persons database.

In [6]:
conn = sqlite3.connect("petsdb.db")
print(f"Connected: {chk_conn(conn)}")

Connected: True

In [7]:
curr = conn.cursor()
# curr.execute('SELECT count(*), age FROM persons GROUP BY age')
curr.execute('SELECT age, count(age) FROM persons GROUP BY age ORDER BY count(age);')
rows = curr.fetchall()
print(f"Age\tCount")
for age, count in rows:
    print(f"{age}\t{count}")

Age	Count
6	1
7	1
9	1
13	1
19	1
27	1
30	1
32	1
33	1
37	1
40	1
42	1
49	1
50	1
58	1
59	1
60	1
61	1
63	1
67	1
69	1
70	1
72	1
5	2
11	2
16	2
17	2
23	2
25	2
34	2
39	2
44	2
48	2
51	2
52	2
53	2
54	2
62	2
65	2
66	2
8	3
12	3
18	3
22	3
24	3
31	3
35	3
36	3
68	3
74	3
14	4
71	4
73	5

### Find the age group that has the maximum number of people.

In [8]:
curr.execute('SELECT age, count(age) FROM persons GROUP BY age ORDER BY count(age) DESC limit 1;')
rows = curr.fetchall()
for age, count in rows:
    print(f"Age group {age} has the maximum number of people: {count}")

Age group 73 has the maximum number of people: 5

In [9]:
### Find the people who do not have a last name.

In [10]:
curr.execute("SELECT * FROM persons WHERE last_name IS null;")
rows = curr.fetchall()
for row in rows:
    print(row)

(1, 'Erica', None, 22, 'south port', 2345678)
(2, 'Jordi', None, 73, 'east port', 123456)
(3, 'Chasity', None, 70, 'new port', 76856785)
(4, 'Gregg', None, 31, 'new port', 76856785)
(6, 'Cary', None, 73, 'new port', 76856785)
(8, 'Francisca', None, 14, 'west port', 123456)
(10, 'Raleigh', None, 68, 'new port', 2345678)
(11, 'Maria', None, 42, 'west port', 123456)
(12, 'Mariane', None, 62, 'south port', 9756543)
(13, 'Mona', None, 44, 'south port', 76856785)
(14, 'Kayla', None, 36, 'south port', 2345678)
(15, 'Karlie', None, 35, 'west port', 123456)
(16, 'Morris', None, 71, 'west port', 76856785)
(17, 'Sandy', None, 23, 'east port', 2345678)
(18, 'Hector', None, 63, 'east port', 9756543)
(19, 'Hiram', None, 52, 'west port', 2345678)
(20, 'Tressa', None, 59, 'new port', 123456)
(21, 'Berry', None, 22, 'south port', 2345678)
(22, 'Pearline', None, 73, 'new port', 9756543)
(23, 'Maynard', None, 25, 'east port', 123456)
(24, 'Dorian', None, 40, 'east port', 123456)
(25, 'Mylene', None, 5, 'east port', 76856785)
(26, 'Lafayette', None, 34, 'new port', 2345678)
(29, 'Tara', None, 39, 'west port', 123456)
(30, 'Destiny', None, 18, 'south port', 2345678)
(31, 'Lesly', None, 31, 'west port', 123456)
(32, 'Perry', None, 19, 'south port', 76856785)
(35, 'Maritza', None, 73, 'east port', 9756543)
(37, 'Grant', None, 61, 'east port', 76856785)
(39, 'Laury', None, 17, 'east port', 9756543)
(40, 'Name', None, 52, 'east port', 9756543)
(41, 'Estefania', None, 32, 'new port', 76856785)
(42, 'Destiney', None, 65, 'west port', 2345678)
(43, 'Jaquelin', None, 73, 'west port', 9756543)
(45, 'Alfonzo', None, 16, 'east port', 2345678)
(46, 'Lisandro', None, 11, 'new port', 76856785)
(49, 'Priscilla', None, 65, 'east port', 76856785)
(50, 'Elenora', None, 11, 'new port', 76856785)
(52, 'Rudolph', None, 14, 'east port', 76856785)
(56, 'Ona', None, 35, 'east port', 9756543)
(57, 'Rebeca', None, 50, 'new port', 76856785)
(59, 'Sigurd', None, 12, 'west port', 76856785)
(63, 'Alice', None, 8, 'west port', 76856785)
(64, 'Dane', None, 24, 'west port', 9756543)
(65, 'Judge', None, 17, 'south port', 76856785)
(66, 'Allene', None, 9, 'new port', 9756543)
(67, 'Jalen', None, 33, 'new port', 2345678)
(70, 'Myron', None, 36, 'new port', 9756543)
(73, 'Travon', None, 16, 'south port', 2345678)
(74, 'Shayna', None, 60, 'new port', 2345678)
(75, 'Myah', None, 14, 'east port', 2345678)
(82, 'Letha', None, 44, 'new port', 9756543)
(84, 'Felton', None, 74, 'east port', 2345678)
(85, 'London', None, 66, 'east port', 9756543)
(86, 'Koby', None, 31, 'west port', 9756543)
(87, 'Golden', None, 35, 'east port', 76856785)
(89, 'Anissa', None, 8, 'south port', 76856785)
(91, 'Sid', None, 22, 'west port', 123456)
(96, 'Ernesto', None, 69, 'east port', 9756543)
(97, 'Josianne', None, 14, 'west port', 76856785)

### Find out how many people have more than one pet.

In [11]:
curr.execute("SELECT count(*) FROM (SELECT count(owner_id) FROM pets GROUP BY owner_id HAVING count(owner_id) >1);")
rows = curr.fetchall()
for count, in rows:
    print(f"{count} people have more than one pet")

43 people have more than one pet

### Find out how many pets have received treatment.

In [12]:
curr.execute("SELECT count(*) FROM pets WHERE treatment_done=1;")
rows = curr.fetchall()
for count, in rows:
    print(f"{count} pets have received treatment")

36 pets have received treatment

### Find out how many pets have received treatment and the type of pet is known.

In [13]:
curr.execute("SELECT count(*) FROM pets WHERE treatment_done=1 AND pet_type IS NOT null;")
rows = curr.fetchall()
for count, in rows:
    print(f"{count} pets have received treatment and the type of pet is known")

16 pets have received treatment and the type of pet is known

### Find out how many pets are from the city called east port.

In [14]:
curr.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port';")
rows = curr.fetchall()
for count, in rows:
    print(f"{count} pets are from the city called east port")

49 pets are from the city called east port

### Find out how many pets are from the city called east port and who received a treatment.

In [15]:
curr.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port' AND pets.treatment_done=1;")
rows = curr.fetchall()
for count, in rows:
    print(f"{count} pets are from the city called east port and who received a treatment")

11 pets are from the city called east port and who received a treatment